.Confirm:disabled{
	
	 cursor: not-allowed; 
}

td{
    text-align: center;
}.table-hover{
    width: 800px;
    text-align: center;
}
#checkboxDismiss{
    float: left;
    margin-right: 10px;
    width: 20px;
    height: 20px;;
}
#Dismisslable{
    margin-left: 30px;
    font-size: 15px;
}
#modal{
    margin-left: -100px;
    width: 840px;
    position: absolute;
    background-color: white;
    display: block;
    transition: height 1s;
    transform: translate3d(0, 0, 0);

}
#modalDismiss{
    margin-left: 50px;
    width: 500px;
    position: absolute;
    background-color: white;
    display: block;
    transition: height 1s;
    transform: translate3d(0, 0, 0);
}